body {
  background-color: #fff;
  scroll-behavior: smooth; /* Habilita el scroll suave */
}

::-webkit-scrollbar {
  display: none; /* Oculta la barra de scroll */
}

/* Estilos opcionales para otros navegadores */
body {
  -ms-overflow-style: none; /* Oculta la barra de scroll en Internet Explorer y Edge */
  scrollbar-width: none; /* Oculta la barra de scroll en Firefox */
}
